<nav class="navbar-container container">
  <a href="../../index.html" class="home-link">
    <div class="navbar-logo">
      <img src="../images/catlibrary_logo.webp" alt="logo of cat library">
    </div>
    Cat Library
  </a>
  <button
    type="button"
    class="navbar-toggle"
    aria-label="Toggle menu"
    aria-expanded="false"
    aria-controls="navbar-menu"
  >
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div id="navbar-menu" class="detached">
    <ul class="navbar-links">
      <li class="navbar-item">
        <a class="navbar-link" href="../../index.html">Home</a></a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="../../explore/index.html">Explore</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="../../catalogue/index.html?page=0">Catalogue</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="../../favorite/index.html">Favorite</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="../../join/index.html">Join</a>
      </li>
    </ul>
  </div>
</nav>
